.header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   width: calc(100% - 40px);
}

.logo {
   width: 130px
}
.headerElement {
   display: flex;
}


@media screen and (max-width: 1000px) {
   .charts {
      display: none;
   }
}

@media screen and (max-width: 690px) {
   .logo {
      display: none;
   }
   .headerElement {
      justify-content: space-between;
      width: 100%
   }
}

@media screen and (max-width: 600px) {
   .header {
      padding: 10px 0;
      width: 100%;
   }
}